<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale="1.0">
		<title>Guestbook</title>
		<link rel="stylesheet" href="/static/styles.css">
	</head>

	<body>
		<header>
			<h1> Bae Crong </h1>
		</header>
		<div class="center-container">
			<h2>TO-DO List</h2>
			<input class="input" type="text" id="taskInput" placeholder="Add a new task">
			<button class="button" onclick="addTask()" id="myButton">Add Task</button>
			<button class="button" onclick="window.location.href='/'">Back to Home</button>
			<ul id="taskList">
			</ul>
		</div>

		<div id="output"></div>
		<div id="todolist"></div>

		<script src="/static/script.js"></script>
	</body>
</html>
