<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale="1.0">
		<title>Home</title>
		<link rel="stylesheet" href="/static/styles.css">
	</head>

	<body>
		<header>
			<h1>Bae Crong</h1>
		</header>
		<div class="container">
			<h2>Welcome to my Crong Site</h2>
			<div class="image-container">
				<img src="/static/images/Jordi.png" alt="Jordi Image">
			</div>

			<div class="button-container">
			<button class="button" onclick="window.location.href='/guestbook'" id="guestbook">Go to Guestbook</button>
			</div>
			
		</div>
		<script></script>
	</body>
</html>
