body{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f0f0f0;
}

header {
	background-color: #333333;
	color: #ffffff;
	padding: 15px;
	text-align: center;
}

app {
	max-width: 400px;
	margin: 0;;
}

ul {
	list-style-type: square;
	margin: 20px;
	padding: 10px;
}

li {
	color: blue;
	font-size: 16px;
	margin-bottom: 8px;;
}

.custom-list {
	list-style-type: disc;
	margin: 20px;
	padding: 0;
}

.custom-list li {
	color: red;
	font-size: 32px;
	line-height: 1.6;
}

.custom-list .highlight {
	background-color: blue;
}

.container {
	width: 80%;
	margin: auto;
	padding: 20px;
}

.center-container {
	text-align: center;
}

.input {
	background-color: #4CAF5033;
	border-radius: 5px;
	margin-right: 10px;
}

.button {
	display: inline-block;
	padding: 10px;
	background-color: #4CAF50;
	color: #ffffff;
	text-decoration: none;
	border-radius: 5px;
	margin-right: 10px;
}

.button-container {
	text-align: center;
}

.button:hover {
	background-color: #45a049;
}

.image-container {
	text-align: center;
	margin-top: 30px;
}

.image-container img {
	width: 100%;
	max-width: 400px;
	height: auto;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2)
}

.highlight {
	background-color: yellow;
}

.completed {
	text-decoration: line-through;
	color: red;
}
