body{
	font-family: Arial, sans-serif;
	margin: 20px;;
}

app {
	max-width: 400px;
	margin: 0;;
}

ul {
	list-style-type: square;
	margin: 20px;
	padding: 10px;
}

li {
	color: blue;
	font-size: 16px;
	margin-bottom: 8px;;
}

.custom-list {
	list-style-type: disc;
	margin: 20px;
	padding: 0;
}

.custom-list li {
	color: red;
	font-size: 32px;
	line-height: 1.6;
}

.custom-list .highlight {
	background-color: blue;
}

.highlight {
	background-color: yellow;
}

.completed {
	text-decoration: line-through;
	color: red;
}
